*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f3f7fa;
}

.login-page{

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#16a34a,#2563eb);

}

.login-card{

    width:950px;

    height:550px;

    background:white;

    border-radius:25px;

    overflow:hidden;

    display:flex;

    box-shadow:0 15px 45px rgba(0,0,0,.2);

}

.login-left{

    width:45%;

    background:linear-gradient(135deg,#16a34a,#0f766e);

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:50px;

    text-align:center;

}

.login-left h1{

    font-size:48px;

    margin-bottom:20px;

}

.login-left h2{

    font-size:32px;

    margin-bottom:15px;

}

.login-left p{

    font-size:18px;

    line-height:30px;

}

.login-right{

    width:55%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    padding:50px;

}

.login-right h2{

    font-size:34px;

    margin-bottom:30px;

    color:#222;

}

.input-box{

    display:flex;

    align-items:center;

    background:#f6f7fb;

    border-radius:12px;

    padding:15px;

    margin-bottom:20px;

}

.input-box svg{

    color:#16a34a;

    font-size:18px;

    margin-right:15px;

}

.input-box input{

    width:100%;

    border:none;

    outline:none;

    background:none;

    font-size:16px;

}

.login-btn{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#16a34a;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

    margin-top:10px;

}

.login-btn:hover{

    background:#15803d;

}

.error{

    background:#ffe4e6;

    color:#dc2626;

    padding:12px;

    border-radius:10px;

    margin-bottom:20px;

    font-size:14px;

}

.login-right p{

    text-align:center;

    margin-top:25px;

}

.login-right a{

    text-decoration:none;

    color:#2563eb;

    font-weight:600;

    margin-left:5px;

}

.login-right a:hover{

    text-decoration:underline;

}

@media(max-width:900px){

.login-card{

    width:95%;

    height:auto;

    flex-direction:column;

}

.login-left{

    width:100%;

    height:220px;

}

.login-right{

    width:100%;

}

}