*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

.sidebar{

    width:260px;

    height:100vh;

    background:#ffffff;

    position:fixed;

    left:0;

    top:0;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    box-shadow:0 0 20px rgba(0,0,0,.08);

}

.logo{

    padding:35px;

}

.logo h2{

    color:#16a34a;

    font-size:28px;

}

.logo span{

    color:#666;

    font-size:14px;

}

.menu{

    display:flex;

    flex-direction:column;

    gap:10px;

    padding:20px;

}

.menu-item{

    text-decoration:none;

    display:flex;

    align-items:center;

    gap:18px;

    padding:16px;

    color:#444;

    border-radius:14px;

    transition:.3s;

    font-size:16px;

}

.menu-item:hover{

    background:#16a34a;

    color:white;

}

.active{

    background:#16a34a;

    color:white;

}

.logout{

    padding:20px;

}

.logout button{

    width:100%;

    border:none;

    background:#ef4444;

    color:white;

    padding:15px;

    border-radius:12px;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    font-size:16px;

}